html,
body {
  // Global Styling
  width: 100svw;
  height: fit-content;
  min-height: 100svh;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  z-index: -2;
}

* {
  box-sizing: border-box;
}
h1 {
  margin: 0px auto;
  word-wrap: break-word;
  white-space: normal;
  width: fit-content;
}

.lumos {
  font-family: "Lumos";
  font-weight: normal;
  font-style: normal;
}

// Page Styling

.page {
  min-height: 100svh;
  max-height: 100svh;
  background-color: rgb(32, 28, 36);
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  span {
    margin-top: 15px;
  }

  img {
    max-width: 70px;
    height: auto;
  }
}

.login,
.signup {
  padding: 20px;
  overflow: scroll;
  nav {
    position: relative;
    img {
      max-width: 75px;
      min-width: 75px;
    }

    button {
      position: absolute;
      right: 10px;
      font-size: 12px;
      top: 20px;
      top: 0;
      bottom: 0;
      height: fit-content;
      margin: auto;
      background-color: #6b63b5;
      border: none;
      border-radius: 25px;
      padding: 8px 17px;
      color: white;
      font-weight: bold;
      overflow: hidden;
    }
  }

  h1 {
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 25px;
  }

  .login-container,
  .signup-container {
    max-width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;

    p {
      margin-top: -5px;
      font-size: 18px;
      max-width: 90%;
      margin-bottom: 35px;
    }

    .input-field {
      display: flex;
      flex-direction: column;
      position: relative;

      label {
        margin-bottom: 7px;
        font-size: 14px;
        color: rgb(66, 66, 66);
      }

      input {
        min-height: 55px;
        margin-bottom: 20px;
        background: none;
        border: solid 1px rgb(66, 66, 66);
        border-radius: 2px;
        color: white;
        padding-left: 20px;
        font-size: 18px;
      }

      .eye {
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
        max-height: 30%;
        font-size: 30px;
      }
      &:focus-within {
        input {
          outline: none;
          border: 1px solid rgb(131, 130, 130);
        }
        label {
          color: white;
        }
      }
    }
    a {
      margin-top: -10px;
      color: #b6b0f2;
      font-family: sans-serif;
    }

    button {
      overflow: hidden;
      max-width: 100%;
      background: none;
      max-height: 50px;
      min-height: 50px;
      background-color: #6b63b5;
      color: white;
      border: none;
      border-radius: 25px;
      margin: 25px 0px;
      margin-bottom: 35px;
    }
  }

  h2 {
    color: white;
  }

  .name-container {
    max-width: 100%;
    display: flex;
    justify-content: space-around;

    .input-field {
      max-width: 100%;
    }

    .first,
    .last {
      max-width: 50%;
    }
    label {
      margin-bottom: 7px;
      font-size: 14px;
      color: rgb(66, 66, 66);
    }

    .last {
      margin-left: 5%;
    }

    input {
      min-height: 55px;
      margin-bottom: 20px;
      max-width: 90%;

      background: none;
      border: solid 1px rgb(66, 66, 66);
      border-radius: 2px;
      color: white;
      padding-left: 20px;
      font-size: 18px;
    }
    &:focus-within {
      input {
        outline: none;
        border: 1px solid rgb(131, 130, 130);
      }
      label {
        color: white;
      }
    }
  }

  .to-signup,
  .to-login {
    background: none;
    border: 1px solid white;
    color: white;
    height: 50px;
    width: 100%;
    border-radius: 25px;
  }
}

.house-ravenclaw,
.house-hufflepuff,
.house-slytherin,
.house-gryffindor, 
.house-empty {
  background-color: rgb(48, 104, 235);
  background-image: linear-gradient(
    to top,
    rgb(4, 9, 27) 10%,
    rgba(32, 30, 58, 0.423) 85%
  );

  .navbar {
    background-color: rgb(18, 53, 86);
    min-width: 100svw;
    color: white;
    min-height: 95px;
    padding: 20px 30px;
    display: flex;
    font-size: 33px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  h3 {
    font-size: 30px;
    color: white;
  }

  .portrait {
    background-color: rgb(26, 34, 63);
    max-width: 75svw;
    margin: auto;
    min-height: 45svh;
    margin-top: 8svh;
    background-image: url("../src/imgs/portrait1.png");
    background-repeat: none;
    background-size: cover;
    position: relative;

    h2 {
      color: white;
      max-width: 70%;
      margin: auto;
      font-size: 30px;
      line-height: 30px;
      padding-top: 25px;
      font-weight: lighter;
      font-family: "Mason";
    }

    .start-portrait {
      background: none;
      border: none;
      background-color: rgb(51, 77, 140);
      color: white;
      font-size: 14px;
      padding: 13px 55px;
      max-width: 60%;
      border-radius: 25px;
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  .house-button-container {
    max-width: 80svw;
    display: flex;
    margin: auto;
    justify-content: space-between;

    .btn-contain {
      button, .house-btn {
        background: none;
        border: none;
        border-radius: 50%;
        min-height: 60px;
        background-color: rgb(28, 41, 84);
        min-width: 60px;
        font-size: 50px;
        color: white;
        position: relative;

        img {
          min-height: 100%;
          max-height: 100%;
          width: auto;
          margin: auto;
          position: absolute;
          left: 0;
          right: 0;
        }
      }


      .button-name {
        font-size: 12px;
        margin-top: 5px;
        color: rgb(96, 96, 96);
      }

      .button-value {
        color: white;
        margin-top: 5px;
      }
    }
  }
}

.house-hufflepuff {
  background-color: rgb(255, 140, 0);
  background-image: linear-gradient(
    to top,
    rgb(27, 19, 4) 10%,
    rgba(58, 44, 30, 0.423) 85%
  );

  .navbar {
    background-color: rgb(192, 122, 35);
  }

  .portrait {
    background-color: rgb(46, 28, 4);
    background-image: url("../src/imgs/portrait1.png");

    .start-portrait {
      background-color: rgb(225, 151, 39);
    }
  }

  .house-button-container {
    .btn-contain {
      button, .house-btn {
        background-color: rgb(160, 109, 22);
      }

    }
  }
}

.house-slytherin {
  background-color: rgb(9, 50, 46);
  background-image: linear-gradient(
    to top,
    rgb(3, 18, 11) 10%,
    rgba(30, 58, 45, 0.423) 85%
  );

  .navbar {
    background-color: rgb(11, 35, 32);
  }

  .portrait {
    background-color: rgb(5, 37, 27);
    background-image: url("../src/imgs/portrait1.png");
    h2 {
      color: rgb(57, 177, 143);
    }

    .start-portrait {
      background-color: rgb(43, 128, 104);
    }
  }

  .house-button-container {
    .btn-contain {
      button, .house-btn {
        background-color: rgb(15, 45, 39);
      }
    }
  }
}

.house-gryffindor {
  background-color: rgb(141, 8, 8);
  background-image: linear-gradient(
    to top,
    rgb(27, 3, 3) 10%,
    rgba(58, 30, 30, 0.423) 85%
  );

  .navbar {
    background-color: rgb(87, 31, 31);
  }

  .portrait {
    background-color: rgb(37, 5, 5);
    background-image: url("../src/imgs/portrait1.png");
    h2 {
      color: rgb(241, 127, 101);
    }

    .start-portrait {
      background-color: rgb(128, 57, 57);
    }
  }

  .house-button-container {
    .btn-contain {
      button, .house-btn {
        background-color: rgb(81, 16, 16);
      }
    }
  }
}

.house-empty {
  background-color: rgb(61, 52, 100);
  background-image: linear-gradient(
    to top,
    rgb(7, 3, 27) 10%,
    rgba(21, 18, 39, 0.423) 85%
  );

  .navbar {
    background-color: rgb(72, 66, 141);
  }

  .portrait {
    background-color: rgb(35, 30, 75);
    background-image: url("../src/imgs/portrait1.png");
    h2 {
      color: rgb(192, 180, 245);
    }

    .start-portrait {
      background-color: rgb(91, 83, 152);
    }
  }

  .house-button-container {
    .btn-contain {
      button {
        background-color: rgb(65, 57, 132);
      }
    }
  }
}

.overlay {
  background-color: rgb(24, 2, 2);
  background-image: linear-gradient(
    to top,
    rgb(4, 9, 27) 10%,
    rgba(32, 30, 58, 0.423) 85%
  );
  color: white;
  position: absolute;
  top: 95px;
  width: 100svw;
  height: fit-content;
  padding-top: 18svh;
  overflow-y: scroll;

  span {
    position: absolute;
    right: 30px;
    top: 15px;
    font-size: 32px;
  }

  p {
    font-size: 16px;
    max-width: 90%;
    margin: auto;
  }

  .house-words {
    font-size: 20px;
    font-family: "Mason";
  }

  div {
    margin: 30px
  }

  .house-welcome {
    font-size: 34px;
    font-family: "Mason";
    font-weight: bold;
    margin-bottom: 20px; 
    
  }

  .paragraph {
    max-width: 85%;
    font-size: 16px;
    line-height: 24px;
    font-weight: lighter;
    font-family: sans-serif;
    text-align: justify;
    padding-bottom: 15svh;

    .first-letter {
      font-size: 70px;
      font-family: serif;
      vertical-align: middle;
      position: relative;
      max-width: fit-content;
      max-height: 53px;
      min-height: 53px;
      margin-left: 30px;
      margin-right: -20px;
      margin-bottom: 0px;
      margin-top: 0;
      float: left;
      font-weight: bold;
    }
  }

  .secondary {
    background-color: green;
    width: 100svw;
    height: 100svh;
    margin: auto;
    padding: 30px;

    img {
      max-width: 100%;
      height: auto;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    h2 {
      max-width: 90%;
      margin: auto;
      font-family: "Mason";
      font-size: 35px;
      margin-bottom: 10px;
    }

    p {
      font-family: sans-serif;
      font-size: 20px;
    }

    .share {
      position: absolute;
      background: none;
      border: solid 1px white;
      border-radius: 25px;
      padding: 7px 12px;
      color: white;
      width: 75%;
      bottom: 5%;
      left: 0;
      right: 0;
      margin: auto;
      min-height: 45px;
      padding-left: 40px;
      font-size: 16px;

      span {
        left: 13%;
        top: -5px;
        font-size: 25px;
        max-width: fit-content;
      }
    }
  }

  .other-house-members {
    background-color: rgb(0, 0, 0);
    width: 100svw;
    height: 100svh;
    margin: auto;
    padding: 0px;
    padding-top: 20%;

    // position: fixed;
    // top: 0;
    // left: 0;

    h3 {
      font-family: "Mason";
      font-size: 24px;
      max-width: 100%;
      margin: auto;
    }

    h4 {
      font-size: 35px;
      margin: auto;
      margin-top: 10px;
    }

    .card-container {
      background-color: green;
      width: fit-content;
      min-width: 100svw;
      min-height: 70%;
    }
  }
}

.page-content {
  max-width: 90svw;
  margin: auto;
  box-sizing: border-box;
  padding: 20px 10px;

  p {
    margin-bottom: 0px;
    color: white;
    line-height: 1.3em;
    font-size: 18px;
  }
  h1 {
    color: white;
    margin-top: 0;
  }

  .homePre {
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 14px;
    font-family: "Mason";

    span {
      font-size: 22px;
    }
  }
  .homeHeader {
    font-size: 32px;
    margin-top: 0;
    line-height: 42px;
    font-family: "Bluu";
    letter-spacing: 2px;
  }

  #sorting-hat-img {
    max-width: 90%;
    height: auto;
    margin: auto;
    margin-top: 0px;
  }

  .logo {
    max-width: 50px;
    height: auto;
  }
  .welcomeMessage {
    width: 80%;
    margin: auto;
    font-size: 14px;
    line-height: 20px;
    font-weight: 100;
    font-family: "Sofia";
  }

  .start-quiz {
    font-size: 11px;
    margin: 25px auto;
    padding: 18px 31px;
    min-width: 260px;
    border: none;
    border-radius: 30px;
    background-color: #6b63b5;
    color: white;
    font-weight: bold;
    letter-spacing: 1.2px;
  }

  .quiz-logo {
    max-width: 70px;
    height: auto;
  }

  .quiz-content {
    width: 100%;

    h1 {
      font-size: 30px;
    }

    .answers {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-top: 30px;
      gap: 5px;

      button {
        font-size: 16px;
      }
    }
  }

  .question-container {
    padding-top: 20px;
    position: relative;
    min-height: 100%;

    .background1 {
      min-height: 100svh;
      min-width: 100svw;
      margin-top: -100px;
      position: fixed;
      left: 0;
      right: 0;
      -webkit-mask-image: url("../src/imgs/stars.png");
      mask-image: url("../src/imgs/stars.png");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      mask-size: cover;
      background-color: white;
      z-index: -3;
      opacity: 15%;
    }

    .smoke,
    .splatter {
      min-height: 100svh;
      min-width: 100svw;
      margin-top: -100px;
      position: fixed;
      left: 0;
      right: 0;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      mask-size: cover;
      z-index: -1;
    }

    .smoke0 {
      -webkit-mask-image: url("../src/imgs/smoke6.png");
      mask-image: url("../src/imgs/smoke6.png");
      background-color: rgb(8, 0, 255);
    }

    .splatter0 {
      -webkit-mask-image: url("../src/imgs/splatter6.png");
      mask-image: url("../src/imgs/splatter6.png");
      background-color: rgba(66, 66, 132, 0.81);
    }

    .smoke1 {
      -webkit-mask-image: url("../src/imgs/smoke1.png");
      mask-image: url("../src/imgs/smoke1.png");
      background-color: rgba(188, 2, 2, 0.696);
    }

    .splatter1 {
      -webkit-mask-image: url("../src/imgs/splatter1.png");
      mask-image: url("../src/imgs/splatter1.png");
      background-color: rgba(225, 2, 2, 0.452);
    }

    .smoke2 {
      -webkit-mask-image: url("../src/imgs/smoke2.png");
      mask-image: url("../src/imgs/smoke2.png");
      background-color: rgb(208, 0, 255);
    }

    .splatter2 {
      -webkit-mask-image: url("../src/imgs/splatter2.png");
      mask-image: url("../src/imgs/splatter2.png");
      background-color: rgba(208, 0, 255, 0.379);
    }

    .smoke3 {
      -webkit-mask-image: url("../src/imgs/smoke3.png");
      mask-image: url("../src/imgs/smoke3.png");
      background-color: rgb(11, 255, 11);
    }

    .splatter3 {
      -webkit-mask-image: url("../src/imgs/splatter3.png");
      mask-image: url("../src/imgs/splatter3.png");
      background-color: rgba(11, 255, 11, 0.327);
    }

    .smoke4 {
      -webkit-mask-image: url("../src/imgs/smoke4.png");
      mask-image: url("../src/imgs/smoke4.png");
    }

    .splatter4 {
      -webkit-mask-image: url("../src/imgs/splatter4.png");
      mask-image: url("../src/imgs/splatter4.png");
    }

    .smoke5 {
      -webkit-mask-image: url("../src/imgs/smoke5.png");
      mask-image: url("../src/imgs/smoke5.png");
    }

    .splatter5 {
      -webkit-mask-image: url("../src/imgs/splatter5.png");
      mask-image: url("../src/imgs/splatter5.png");
    }

    .question-text {
      font-size: 16px;
      min-height: 50px;
      max-height: fit-content;
      line-height: 24px;
      font-family: "Sofia";
      z-index: 100;
    }
    .slideshow-container {
      display: flex;
      flex-direction: column;
      max-height: 40svh;
      min-height: 40svh;
      z-index: 100;

      .slideshow {
        box-sizing: border-box;
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        padding-left: 0px;
        padding-right: 0px;
        min-height: 40svh;
        width: 100%;
        max-width: 400px;
        img {
          max-width: 80%;
          height: 100%;
        }

        .backgound-image {
          min-height: 100%;
          min-width: 60%;
          width: 60%;
          margin: auto;
        }

        .image-container {
          max-width: 80%;
          min-width: 80%;
          z-index: 100;

          position: relative;

          .front-img,
          .back-img {
            min-height: 100%;
            min-width: 100%;
            filter: invert(0);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }

          .front-img {
            z-index: 2;
          }

          .back-img {
            z-index: 1;
          }
        }

        .spacer,
        .left,
        .right {
          min-width: 20px;
          max-width: 20px;

          img {
            filter: invert(1);
          }
        }
        div {
          align-self: center;
          margin: 0;
          padding: 0;
          width: fit-content;
        }

        .background-image-question {
          color: red;
          background-size: contain;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 0;
          background-repeat: no-repeat;
          background-size: auto;
          min-height: 100%;
          width: 100%;
          filter: invert(0);
          margin: auto;
        }
      }
    }

    .slider-nav {
      min-height: 15px;
      min-width: 16%;
      max-width: 16%;
      width: fit-content;
      display: flex;
      justify-content: space-between;
      gap: 2px;
      margin: auto;
      z-index: 100;

      .dot {
        height: 6px;
        width: 6px;
        border-radius: 100%;
        background-color: rgb(89, 89, 89);
      }

      .active {
        background-color: rgb(205, 205, 205);
      }
    }

    .answer-text {
      font-size: 14px;
      color: white;
      box-sizing: border-box;
      padding-top: 30px;
      min-height: 70px;
      height: fit-content;
      width: 100%;
      letter-spacing: 0.2px;
      justify-content: center;
      text-align: center;
      font-family: "Bluu";
    }

    .select {
      font-size: 12px;
      margin: 35px auto 0px;
      padding: 18px 31px;
      width: 50%;
      border: solid 1px white;
      border-radius: 30px;
      background-color: rgba(132, 104, 179, 0);
      color: white;
      font-weight: bold;
      font-family: "Sofia";
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.2px;
      z-index: 100;
    }
  }
}

.ravenclaw,
.gryffindor,
.hufflepuff,
.slytherin {
  box-sizing: border-box;
  min-height: 100svh;
  min-width: 100svw;
  margin: 0;
  padding: 30px 20px;

  .welcome {
    margin: 0;
  }

  h1 {
    font-size: 65px;
    margin-top: 0;
  }

  img {
    max-width: 80%;
    height: auto;
    max-height: 300px;
  }

  .slogan {
    font-size: 30px;
  }

  .information {
    height: 20svh;
    width: 90%;
    overflow-x: scroll;
    margin: 20px auto 40px;
    position: relative;

    p {
      font-size: 15px;
    }
  }
}

.ravenclaw {
  background-repeat: no-repeat;
}

.gryffindor {
  background-repeat: no-repeat;
}

.slytherin {
  background-repeat: no-repeat;
}

.hufflepuff {
  background-repeat: no-repeat;
}

.poem {
  background-color: black;
  box-sizing: border-box;
  min-height: 100svh;
  min-width: 100svw;
  margin: 0;
  padding: 50px 20px;
  padding-top: 150px;

  .poem-first {
    font-size: 25px;
    padding: 0;
    margin: 0;
  }

  h1 {
    font-size: 70px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .poem-words {
    font-size: 25px;
    padding: 0;
    margin-top: 20px;
  }

  .poem-words-hidden {
    font-size: 25px;
    padding: 0;
    margin-top: 20px;
    opacity: 0;
  }

  .skip {
    color: rgb(65, 65, 65);
    font-family: "Sofia";
    background-color: none;
    background: none;
    border: none;
    font-size: 20px;
    padding-top: 100px;
  }
}

.large-screen-home {
  display: none;
}

@media only screen and (min-width: 900px) {
  .page-content {
    max-width: 500px !important;

    .slideshow {
      margin: auto;
      min-width: 300px;
    }

    .slider-nav {
      min-height: 15px;
      min-width: 50px !important;
      max-width: 50px !important;

      .dot {
        height: 6px;
        width: 6px;
        border-radius: 100%;
        background-color: rgb(89, 89, 89);
      }

      .active {
        background-color: rgb(205, 205, 205);
      }
    }
  }
}

// Iphone ProMax 14
@media only screen and (min-height: 700px) {
  .page {
    .page-content {
      max-width: 90svw;
      margin: auto;
      box-sizing: border-box;
      padding: 50px 10px;

      .homePre {
        font-size: 22px;

        span {
          font-size: 25px;
        }
      }
      .homeHeader {
        font-size: 40px;
      }

      #sorting-hat-img {
        max-width: 100%;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .logo {
        max-width: 80px;
      }
      .welcomeMessage {
        width: 90%;
        font-size: 18px;
        margin-top: 25px;
      }

      .start-quiz {
        font-size: 14px;
        margin: 35px auto;
      }

      .quiz-logo {
        max-width: 70px;
        height: auto;
      }

      .quiz-content {
        s h1 {
          font-size: 50px;
        }

        .answers {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-top: 0px;
          gap: 5px;

          button {
            font-size: 16px;
          }
        }
      }

      .question-container {
        padding-top: 30px;

        .question-text {
          font-size: 18px;
        }
        .slideshow-container {
          .slideshow {
            img {
              max-width: 80%;
              height: 375px;
            }

            .image-container {
              height: 375px;

              .front-img,
              .back-img {
                color: white;
              }

              .front-img {
                z-index: 2;
              }

              .back-img {
                z-index: 1;
              }
            }

            .spacer,
            .left,
            .right {
              min-width: 20px;
              max-width: 20px;
            }
            div {
              align-self: center;
              margin: 0;
              padding: 0;
              width: fit-content;

              img {
                max-height: 20px;
                filter: invert(1);
              }
            }

            .background-image-question {
              margin: auto;
            }
          }
        }

        .slider-nav {
          margin-top: 10px;
          .dot {
            height: 8px;
            width: 8px;
          }
        }

        .answer-text {
          font-size: 18px;
          line-height: 25px;
          padding-top: 20px;
          height: fit-content;
          width: 90%;
          margin: auto;
          letter-spacing: 0.5px;
        }

        .select {
          font-size: 14px;
          margin: 30px auto 0px;
          padding: 18px 31px;
          width: 60%;
          border: solid 1px white;
          border-radius: 30px;
          background-color: rgba(132, 104, 179, 0);
          color: white;
          font-weight: bold;
          font-family: "Sofia";
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 0.2px;
        }
      }
    }

    .ravenclaw,
    .gryffindor,
    .hufflepuff,
    .slytherin {
      box-sizing: border-box;
      min-height: 100svh;
      min-width: 100svw;
      margin: 0;
      padding: 30px 20px;

      .welcome {
        margin: 0;
      }

      h1 {
        font-size: 65px;
        margin-top: 0;
      }

      img {
        max-width: 80%;
        height: auto;
        max-height: 300px;
      }

      .slogan {
        font-size: 30px;
      }

      .information {
        height: 20svh;
        width: 90%;
        overflow-x: scroll;
        margin: 20px auto 40px;
        position: relative;

        p {
          font-size: 15px;
        }
      }
    }

    .ravenclaw {
      background-repeat: no-repeat;
    }

    .gryffindor {
      background-repeat: no-repeat;
    }

    .slytherin {
      background-repeat: no-repeat;
    }

    .hufflepuff {
      background-repeat: no-repeat;
    }

    .poem {
      background-color: black;
      box-sizing: border-box;
      min-height: 100svh;
      min-width: 100svw;
      margin: 0;
      padding: 50px 20px;
      padding-top: 150px;

      .poem-first {
        font-size: 25px;
        padding: 0;
        margin: 0;
      }

      h1 {
        font-size: 70px;
        margin-bottom: 30px;
        margin-top: 30px;
      }

      .poem-words {
        font-size: 25px;
        padding: 0;
        margin-top: 20px;
      }

      .poem-words-hidden {
        font-size: 25px;
        padding: 0;
        margin-top: 20px;
        opacity: 0;
      }

      .skip {
        color: rgb(65, 65, 65);
        font-family: "Sofia";
        background-color: none;
        background: none;
        border: none;
        font-size: 20px;
        padding-top: 100px;
      }
    }
  }
}

// Iphone ProMax 14
@media only screen and (min-height: 700px) {
  .page {
    .page-content {
      .question-container {
        .backgound-image {
          min-width: 80% !important;
          max-width: 80% !important;
          height: auto !important;
          max-height: auto !important;
          min-height: auto !important;
        }

        .slider-nav {
          .dot {
            height: 8px;
            width: 8px;
          }
        }

        .answer-text {
          margin-top: 50px;
        }
      }
    }
  }
}

// above Iphone Promax 14
@media only screen and (min-height: 1000px) {
  .page {
    .page-content {
      max-width: 65svw;
      padding-top: 5svh;
      .logo {
        max-width: 80px;
      }
      .welcomeMessage {
        width: 80%;
        font-size: 18px;
        margin-top: 25px;
      }

      .start-quiz {
        font-size: 14px;
        margin: 35px auto;
      }

      .quiz-logo {
        max-width: 70px;
        height: auto;
      }

      .question-container {
        padding-top: 10svh;
        justify-content: center;

        .slideshow {
          margin: auto;
        }
      }
    }
  }
}

// Ipad Pro
@media only screen and (min-width: 1000px) and (max-width: 1100px) and (min-height: 1300px) and (max-height: 1400px) {
  .page {
    .page-content {
      .quiz-logo {
        max-width: 10svw;
        height: auto;
      }

      .question-container {
        max-width: 60svw;
        min-width: 60svw;
        margin: auto;
        left: 0;
        right: 0;
        position: fixed;

        .question-text {
          font-size: 25px;
        }

        .slideshow-container {
          max-height: 50svh;
          height: fit-content;
          .slideshow {
            margin-bottom: 0px;
            margin-top: 0px;
            img {
              height: 400px;
            }
          }

          .slider-nav {
            margin-bottom: 30px;
          }
        }
        .answer-text {
          font-size: 25px;
          letter-spacing: 1px;
          width: 100%;
          line-height: 30px;
          margin-top: 0px;
        }

        .select {
          width: 40%;
          font-size: 18px;
        }
      }
    }
  }
}

// Desktop
@media only screen and (min-height: 700px) and (min-width: 1100px) {
  .page {
    min-height: 100svh;
    height: fit-content;
    background-color: rgb(32, 28, 36);
    margin: auto;
    box-sizing: border-box;
    position: relative;

    .page-content {
      max-width: 50svw;
      min-width: 50svw;
      margin: auto;
      box-sizing: border-box;
      padding: 20px 10px;

      .large-screen-home {
        display: flex;
        min-width: 100svw;
        position: fixed;
        top: 20svh;
        left: 0;
        right: 0;

        .left {
          width: 50svw;

          #sorting-hat-img {
            width: 40svw;
            margin-left: 5svw;
          }
        }

        .right {
          width: 50svw;
          padding-top: 15svh;
          p {
            margin-bottom: 10px;
            color: white;
            line-height: 1.3em;
            font-size: 18px;
          }
          h1 {
            color: white;
            margin-top: 0;
          }

          .homePre {
            margin-top: 25px;
            margin-bottom: 0px;
            font-size: 25px;
            font-family: "Mason";

            span {
              font-size: 27px;
            }
          }
          .homeHeader {
            font-size: 55px;
            max-width: 500px;
            line-height: 55px;
          }

          .welcomeMessage {
            width: 80%;
            font-size: 18px;
            max-width: 500px;
          }

          .start-quiz {
            font-size: 16px;
            max-width: 500px;
          }
        }
      }
      .quiz-logo {
        max-width: 70px;
        height: auto;
      }

      .question-container {
        .background1 {
          -webkit-mask-image: url("../src/imgs/stars-large.png");
          mask-image: url("../src/imgs/stars-large.png");
        }
        .smoke0 {
          -webkit-mask-image: url("../src/imgs/smoke6-large.png");
          mask-image: url("../src/imgs/smoke6-large.png");
          background-color: rgb(8, 0, 255);
        }

        .splatter0 {
          -webkit-mask-image: url("../src/imgs/splatter6.png");
          mask-image: url("../src/imgs/splatter6-large.png");
          background-color: rgba(66, 66, 132, 0.81);
        }

        .smoke1 {
          -webkit-mask-image: url("../src/imgs/smoke1-large.png");
          mask-image: url("../src/imgs/smoke1-large.png");
          background-color: rgba(188, 2, 2, 0.696);
        }

        .splatter1 {
          -webkit-mask-image: url("../src/imgs/splatter1-large.png");
          mask-image: url("../src/imgs/splatter1-large.png");
          background-color: rgba(225, 2, 2, 0.452);
        }

        .smoke2 {
          -webkit-mask-image: url("../src/imgs/smoke2-large.png");
          mask-image: url("../src/imgs/smoke2-large.png");
          background-color: rgb(208, 0, 255);
        }

        .splatter2 {
          -webkit-mask-image: url("../src/imgs/splatter2-large.png");
          mask-image: url("../src/imgs/splatter2-large.png");
          background-color: rgba(208, 0, 255, 0.379);
        }

        .smoke3 {
          -webkit-mask-image: url("../src/imgs/smoke3-large.png");
          mask-image: url("../src/imgs/smoke3-large.png");
          background-color: rgb(11, 255, 11);
        }

        .splatter3 {
          -webkit-mask-image: url("../src/imgs/splatter3-large.png");
          mask-image: url("../src/imgs/splatter3-large.png");
          background-color: rgba(11, 255, 11, 0.327);
        }

        .smoke4 {
          -webkit-mask-image: url("../src/imgs/smoke4-large.png");
          mask-image: url("../src/imgs/smoke4-large.png");
        }

        .splatter4 {
          -webkit-mask-image: url("../src/imgs/splatter4-large.png");
          mask-image: url("../src/imgs/splatter4-large.png");
        }

        .smoke5 {
          -webkit-mask-image: url("../src/imgs/smoke5-large.png");
          mask-image: url("../src/imgs/smoke5-large.png");
        }

        .splatter5 {
          -webkit-mask-image: url("../src/imgs/splatter5-large.png");
          mask-image: url("../src/imgs/splatter5-large.png");
        }

        max-width: 60svw;
        min-width: 60svw;
        margin: auto;
        left: 0;
        right: 0;
        position: fixed;

        .question-text {
          font-size: 20px;
        }

        .slideshow-container {
          max-height: 50svh;
          height: 50vh;
          .slideshow {
            img {
              height: 400px;
            }
          }
        }
        .answer-text {
          font-size: 20px;
          letter-spacing: 1px;
          width: 70%;
          line-height: 30px;
          margin-top: 0px;
        }

        .select {
          width: 25%;
          font-size: 14px;
        }
      }
    }

    .ravenclaw,
    .gryffindor,
    .hufflepuff,
    .slytherin {
      box-sizing: border-box;
      min-height: 100svh;
      min-width: 100svw;
      margin: 0;
      padding: 30px 20px;

      .welcome {
        margin: 0;
      }

      h1 {
        font-size: 65px;
        margin-top: 0;
      }

      img {
        max-width: 80%;
        height: auto;
        max-height: 300px;
      }

      .slogan {
        font-size: 30px;
      }

      .information {
        height: 20svh;
        width: 90%;
        overflow-x: scroll;
        margin: 20px auto 40px;
        position: relative;

        p {
          font-size: 15px;
        }
      }
    }

    .ravenclaw {
      background-repeat: no-repeat;
    }

    .gryffindor {
      background-repeat: no-repeat;
    }

    .slytherin {
      background-repeat: no-repeat;
    }

    .hufflepuff {
      background-repeat: no-repeat;
    }

    .poem {
      background-color: black;
      box-sizing: border-box;
      min-height: 100svh;
      min-width: 100svw;
      margin: 0;
      padding: 50px 20px;
      padding-top: 150px;

      .poem-first {
        font-size: 25px;
        padding: 0;
        margin: 0;
      }

      h1 {
        font-size: 70px;
        margin-bottom: 30px;
        margin-top: 30px;
      }

      .poem-words {
        font-size: 25px;
        padding: 0;
        margin-top: 20px;
      }

      .poem-words-hidden {
        font-size: 25px;
        padding: 0;
        margin-top: 20px;
        opacity: 0;
      }

      .skip {
        color: rgb(65, 65, 65);
        font-family: "Sofia";
        background-color: none;
        background: none;
        border: none;
        font-size: 20px;
        padding-top: 100px;
      }
    }
  }

  .small-screen-home {
    display: none;
  }
}
