html,
body {
  // Global Styling
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;

  h1 {
    margin: 0px auto;
    word-wrap: break-word;
    white-space: normal;
    width: fit-content;
  }

  .lumos {
    font-family: "Lumos";
    font-weight: normal;
    font-style: normal;
  }

  // Page Styling

  .page {
    height: 100vh;
    background-color: rgb(32, 28, 36);
    margin: auto;
    box-sizing: border-box;
    position: relative;

    .page-content {
      max-width: 90vw;
      margin: auto;
      box-sizing: border-box;
      padding: 20px 10px;

      p {
        margin-bottom: 10px;
        color: white;
        line-height: 1.3em;
        font-size: 18px;
      }
      h1 {
        color: white;
        margin-top: 0;
      }

      .homePre {
        margin-top: 25px;
        margin-bottom: 0px;
        font-size: 18px;
        font-family: "Mason";

        span {
          font-size: 22px;
        }
      }
      .homeHeader {
        font-size: 38px;
        margin-top: 0;
        line-height: 42px;
        font-family: "Bluu";
        letter-spacing: 2px;
      }

      #sorting-hat-img {
        max-width: 90%;
        height: auto;
        margin: auto;
        margin-top: 25px;
      }

      .logo {
        max-width: 90px;
        height: auto;
      }
      .welcomeMessage {
        width: 80%;
        margin: auto;
        margin-top: 10px;
        font-size: 12px;
        line-height: 20px;
        font-weight: 100;
        font-family: "Sofia";
      }

      .start-quiz {
        font-size: 11px;
        margin: 21px auto;
        padding: 18px 31px;
        min-width: 260px;
        border: none;
        border-radius: 30px;
        background-color: #6b63b5;
        color: white;
        font-weight: bold;
        letter-spacing: 1.2px;
      }

        .quiz-logo {
          max-width: 70px;
          height: auto;
        }

        .quiz-content {
          width: 100%;

          h1 {
            font-size: 30px;
          }

          .answers {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-top: 30px;
            gap: 5px;

            button {
              font-size: 16px;
            }
          }
        }
      

      .question-container {
        padding-top: 80px;
        position: relative;

        .question-text {
          font-size: 16px;
          min-height: 50px;
          max-height: 50px;
          line-height: 24px;
          font-family: "Sofia";
        }
        .slideshow-container {
          display: flex;
          flex-direction: column;

          .slideshow {
            box-sizing: border-box;
            display: flex;
            box-sizing: border-box;
            justify-content: space-between;
            padding-left: 20px;
            padding-right: 20px;

            img {
              max-width: 80%;
              height: 350px;
            }

            .spacer {
              min-width: 10px;
            }
            div {
              align-self: center;
              margin: 0;
              padding: 0;
              width: fit-content;

              img {
                max-height: 20px;
                filter: invert(1);
              }
            }
          }
        }

        .slider-nav {
          min-height: 15px;
          min-width: 16%;
          max-width: 16%;
          width: fit-content;
          display: flex;
          justify-content: space-between;
          gap: 2px;
          margin: auto;
          margin-top: 12px;

          .dot {
            height: 6px;
            width: 6px;
            border-radius: 100%;
            background-color: rgb(89, 89, 89);
          }

          .active {
            background-color: rgb(205, 205, 205);
          }
        }

        .answer-text {
          font-size: 16px;
          color: white;
          box-sizing: border-box;
          padding-top: 10px;
          min-height: 70px;
          max-height: 70px;
          width: 100%;
          letter-spacing: .2px;
          justify-content: center;
          text-align: center;
          font-family: "Bluu";
        }

        .select {
          font-size: 12px;
          margin: 10px auto;
          padding: 18px 31px;
          width: 60%;
          border: solid 1px white;
          border-radius: 30px;
          background-color: rgba(132, 104, 179, 0);
          color: white;
          font-weight: bold;
          font-family: "Sofia";
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: .2px;
        }
      }
    }

    .ravenclaw,
    .gryffindor,
    .hufflepuff,
    .slytherin {
      box-sizing: border-box;
      min-height: 100vh;
      min-width: 100vw;
      margin: 0;
      padding: 30px 20px;

      .welcome {
        margin: 0;
      }

      h1 {
        font-size: 65px;
        margin-top: 0;
      }

      img {
        max-width: 80%;
        height: auto;
        max-height: 300px;
      }

      .slogan {
        font-size: 30px;
      }

      .information {
        height: 20vh;
        width: 90%;
        overflow-x: scroll;
        margin: 20px auto 40px;
        position: relative;

        p {
          font-size: 15px;
        }
      }
    }

    .ravenclaw {
      background-repeat: no-repeat;
    }

    .gryffindor {
      background-repeat: no-repeat;
    }

    .slytherin {
      background-repeat: no-repeat;
    }

    .hufflepuff {
      background-repeat: no-repeat;
    }

    .poem {
      background-color: black;
      box-sizing: border-box;
      min-height: 100vh;
      min-width: 100vw;
      margin: 0;
      padding: 50px 20px;
      padding-top: 150px;

      .poem-first {
        font-size: 25px;
        padding: 0;
        margin: 0;
      }

      h1 {
        font-size: 70px;
        margin-bottom: 30px;
        margin-top: 30px;
      }

      .poem-words {
        font-size: 25px;
        padding: 0;
        margin-top: 20px;
      }

      .poem-words-hidden {
        font-size: 25px;
        padding: 0;
        margin-top: 20px;
        opacity: 0;
      }
    }
  }
}
